.admin-header {
  position: sticky;
  top: 0;
  z-index: 20;

  height: 72px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 28px;

  background: rgba(255, 255, 255, 0.92);
  backdrop-filter: blur(18px);

  border-bottom: 1px solid #e5e7eb;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-btn {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 12px;

  background: white;
  color: #334155;

  cursor: pointer;
  transition: all 0.2s ease;
}

.icon-btn:hover {
  background: #eaf2ff;
  color: #0052cc;
}

.search-box {
  width: 420px;
  height: 44px;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 0 14px;

  border: 1px solid #d7dce4;
  border-radius: 12px;

  background: white;
  color: #64748b;
}

.search-box input {
  flex: 1;
  height: 100%;

  border: none;
  outline: none;
  background: transparent;

  font-size: 14px;
}

.notification-btn {
  position: relative;
}

.notification-dot {
  position: absolute;
  top: -4px;
  right: -4px;

  min-width: 18px;
  height: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 999px;
  background: #ef4444;
  color: white;

  font-size: 11px;
  font-weight: 700;
}

.admin-profile {
  height: 48px;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 6px 10px;

  border-radius: 14px;
  background: white;

  border: 1px solid #e5e7eb;
}

.admin-avatar {
  width: 36px;
  height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background: linear-gradient(135deg, #0052cc, #4da3ff);
  color: white;

  font-weight: 800;
}

.admin-profile strong {
  display: block;
  font-size: 14px;
}

.admin-profile p {
  margin: 2px 0 0;
  color: #64748b;
  font-size: 12px;
}